// Variabel
$primary-font: 'Ropa Sans', sans-serif;
$primary-color: #0E1822;
$primary-hover-color: #FF4655;
$secondary-font: 'Valorant', sans-serif;
$secondary-color: #131313;
$secondary-hover-color: #4cc9f0;