// Variabel
$primary-color: #4cc9f0;
$primary-hover-color: #ff4655;

$hover-background-color: #f39c12;
$accordion-background-color: #0c0e0c;
$text-color: #f4f7f4;

// Variabel
$secondary-font: "Valorant", sans-serif;
$secondary-color: #131313;
$secondary-hover-color: #4cc9f0;
