$putih: white;
$terus_berulang: infinite;
$font-accordion-button: 'Inconsolata', monospace;

#carouselExampleDark{
    margin-bottom: 80px;
}
.textmodel {
  color: $putih;
  font: $font-accordion-button;
  text-shadow: 2px 2px 4px #000000;
}
.text-center {
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
}

#rounded{
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  
}


#bunga1 {
    position: absolute;
    top: 50%;
    left: 95%;
    transform: translate(-50%, -50%);
    animation-name: bunga1;
    animation-duration: 4s;
    animation-iteration-count: $terus_berulang; 
  }
  

  // @keyframes bunga1 {
  //   0% {
  //     left: 100%;
  //     top: 55%;

  //   }
  //   25% {
  //     left: 95%;
  //     top: 55%;
 
  //   }
  //   50% {
  //     left: 100%;
  //     top: 55%;

  //   }
  //   75% {
  //     left: 95%;
  //     top: 55%;

  //   }
  // }
  

#bunga2 {
    position: absolute;
    top: 50%;
    left: 5%;
    transform: translate(-50%, -50%);
    animation-name: bunga2;
    animation-duration: 4s;
    animation-iteration-count: $terus_berulang;
  }

  // @keyframes bunga2 {
  //   0% {
  //     left: 0%;
  //     top: 50%;

  //   }
  //   25% {
  //     left: 5%;
  //     top: 50%;
 
  //   }
  //   50% {
  //     left: 0%;
  //     top: 50%;

  //   }
  //   75% {
  //     left: 5%;
  //     top: 50%;

  //   }
  // }
  
