@import "variabel";

// Mixin untuk mengatur ukuran tombol
@mixin button-size($padding, $font-size, $line-height) {
  padding: $padding;
  font-size: $font-size;
  line-height: $line-height;
}
// Button style
.button.btn-primary {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  border: none;
  background: none;
  color: #ffffff;
  cursor: pointer;
  position: relative;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
  transition: all 0.15s ease;
  margin-top: 5%;


  @for $i from 1 through 3 {
    &.size-#{$i} {
      padding: unquote("#{$i * 5}px #{$i * 10}px");
      font-size: #{$i * 4 + 12}px;
      line-height: #{$i * 0.3 + 1.2};
    }
  }

  &::before,
  &::after {
    content: "";
    display: block;
    position: absolute;
    right: 0;
    left: 0;
    height: calc(50% - 5px);
    border: 1px solid #ecd448;
    transition: all 0.15s ease;
  }

  &::before {
    top: 0;
    border-bottom-width: 0;
  }

  &::after {
    bottom: 0;
    border-top-width: 0;
  }

  &:active,
  &:focus {
    outline: none;
  }

  &:active::before,
  &:active::after {
    right: 3px;
    left: 3px;
  }

  &:active::before {
    top: 3px;
  }

  &:active::after {
    bottom: 3px;
  }
}


// Large Button style
.button.btn-primary_lg {
  @include button-size(10px 20px, 15px, 1.5);
  color: #fff;
  background-color: $primary-color;
  overflow: hidden;
  box-shadow: inset 0px 0px 0px 1px transparent;

  &::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 2px;
    height: 2px;
    background-color: $primary-color;
  }

  &::after {
    content: "";
    display: block;
    position: absolute;
    right: 0;
    bottom: 0;
    width: 4px;
    height: 4px;
    background-color: $primary-color;
    transition: all 0.2s ease;
  }
}

// Sliding Bar style
.button.btn-primary_sl {
  display: block;
  position: absolute;
  top: 0;
  bottom: -1px;
  left: -8px;
  width: 0;
  background-color: $primary-hover-color;
  transform: skew(-15deg);
  transition: all 0.2s ease;
}

// Text Container style
.button.btn-primary_text {
  position: relative;
}

// Hover style
.button.btn-primary:hover {
  color: $primary-color;

  .button.btn-primary_sl {
    width: calc(100% + 15px);
  }

  .button.btn-primary_lg::after {
    background-color: #fff;
  }
}

//button tutup di modal log in
.style-close-btn {
  @include button-size(1.1em 2em, 15px, 1.5);
  background: none;
  border: 2px solid #fff;
  color: $secondary-color;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition: all 0.3s;
  border-radius: 12px;
  background-color: #ecd448;
  font-weight: bolder;
  box-shadow: 0 2px 0 2px #000;
  margin-right: 6%;
  &:before {
    content: "";
    position: absolute;
    width: 100px;
    height: 120%;
    background-color: #ff6700;
    top: 50%;
    transform: skewX(30deg) translate(-150%, -50%);
    transition: all 0.5s;
  }

  &:hover {
    background-color: #4cc9f0;
    color: #fff;
    box-shadow: 0 2px 0 2px #0d3b66;
  }

  &:hover::before {
    transform: skewX(30deg) translate(150%, -50%);
    transition-delay: 0.1s;
  }

  &:active {
    transform: scale(0.9);
  }
}

.btn.btn-secondary {
  @extend .style-close-btn;
}
