@import "variabel";

.accordion-button {
  &:hover {
    background-color: $hover-background-color;
  }
}

.accordion-header {
  padding: 10px;
  background-color: $accordion-background-color;
  border: 1px solid #ccc;
  text-align: center;
  color: $text-color;

  &:hover {
    background-color: $hover-background-color;
  }
}

.button-style {
  @extend .accordion-header;
}

.collapsed {
  .accordion-header {
    background-color: $accordion-background-color;
  }
}

.expanded {
  .accordion-header {
    background-color: $hover-background-color;
  }
}
